<div id="api">
	<header>
		<h2>API</h2>
		<p class="description">
			Is cool to have an API nowadays, right? So here it is!
		</p>
	</header>

	<dl>
		<dt>http://shortcutsapp.info/apps.json</dt>
		<dd class="description">
			Return info from all apps.
		</dd>

		<dt>http://shortcutsapp.info/apps/:app_name.json</dt>
		<dd class="description">
			Return all shortcuts from <code>:app_name</code>.
		</dd>
	</dl>
</div>