<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shortcuts. Because mouse is for noobies.</title>
		<link rel="stylesheet" href="/stylesheets/shortcuts.css" type="text/css">
	</head>

	<body>
		<div id="page">
			<header>
				<h1><a href="/">Shortcuts.</a></h1>
			</header>

			<%= yield %>

			<footer>
				<p>
					Created by <a href="http://nandovieira.com.br">Nando Vieira</a> using
					<a href="http://sinatrarb.com">Sinatra</a>,
					<a href="http://mongodb.org">MongoDB</a> &amp;
					<a href="http://www.apple.com/macbookpro/">Mac</a>!
				</p>

				<p>
					You want
					<a href="/api">API</a>,
					right?
				</p>
			</footer>
		</div>

		<script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '4e3be5c0f5a1f57731000001');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
	</body>
</html>
